.list-cat{
    margin: 24px 0;
}

.list-cat label{
    font-family: 'Roboto', sans-serif;
}

.list-cat select {
     width: 100%;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    border: none;
    padding: 30px 20px;
    outline-color: #2A7AE4;
    font-size: 16px;
    line-height: 14px;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .list-cat select {
      padding: 15px 10px;
      font-size: 12px;
      line-height: 12px;
    }
  }